.navigation {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    border-bottom: #9B1DF2 solid;
    height: 5rem;
    @media screen and (max-width: 1000px) {

      padding: 0;
     }
    .logo-container {
      height: 100%;
      margin: 0 0.5rem;
    
    .logo{
        filter: invert(0.5) sepia(1) saturate(206) hue-rotate(281deg);
    width: 7.5rem;

    @media screen and (max-width: 420px) {

      width: 6rem;
     }
     }
    }
  
    .nav-links-container {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin: 1rem 0 0 1rem;
      .nav-link {
        cursor: pointer;
        color:purple;
        font-size: 1.2rem;
        margin: 0 1rem;

        @media screen and (max-width: 420px) {
          margin: 0 0.29rem;
          font-size: 0.68rem;
        
         }
      }
    }
  }
