.navigation {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
  
    .logo-container {
      height: 100%;
      margin: auto 1rem;
    
    .logo{
        filter: invert(0.5) sepia(1) saturate(206) hue-rotate(281deg);
    width: 7.5rem;
     }
    }
  
    .nav-links-container {
      width: 50%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin: 1rem;
      .nav-link {
        cursor: pointer;
        color:purple;
        font-size: 1.2rem;
        margin: 0 1rem;
      }
    }
  }
