.sign-in-container{
    h2{
        margin: 1.4rem 0;
    }

    @media screen and (max-width: 1000px) {

      width: -webkit-fill-available;
     }
     @media screen and (min-width: 1000px) {
      width: 29vw;
      margin: 1.2rem 2.5rem;
     }
  
    .buttons-container{
        display:flex;
        justify-content: space-between;
    }
}