.sign-up-container{
  //  width: 50rem;
    h2{
        margin: 1.4rem 0;
    }

    @media screen and (max-width: 1000px) {
        margin: 1.5rem;
        width: -webkit-fill-available;
     }
     @media screen and (min-width: 1000px) {
      width: 29vw;
      margin: 1.2rem 2.5rem;
     }
     @media screen and (min-width: 1500px) {
        width:40vw;
      }
}