.sign-up-container{
  //  width: 50rem;
    h2{
        margin: 1.4rem 0;
    }

    @media screen and (max-width: 1000px) {
       width: 90vw;
     }
     @media screen and (min-width: 1000px) {
      width: 34vw;
      margin: 1.2rem auto;
     }
     @media screen and (min-width: 1500px) {
        width:40vw;
      }
}